<ion-view title="{{navTitle}}">


  <ion-nav-bar class="bar-stable nav-title-slide-ios7 chatNavBar" >
    <ion-nav-back-button class="button-icon icon  ion-chevron-left">
        
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <div style="margin-right:12px; margin-top:5px;">
          	<p style="color:white; text-align:right; font-weight:bold; padding-left:5px;"> {{SupplierName | stripslashes:true}}</p>
			<!--
            <p style="color:white; margin-top:-10px; text-align:right; padding-left:5px;"> last seen at {{UserData[0]|lastseenDate}} {{}} </p>
			-->
       </div>
        <img ng-src="{{imagePath}}/{{SupplierImage}}"  style="width:55px; height:55px; border-radius:60px; margin-top:3px">
    </ion-nav-buttons>
</ion-nav-bar>


<div class="bar bar-footer">
  <div  style=" margin-top:-10px; width:100%;">
          <div class="item-input-inset" style="width:100%;">
            <label class="item-input-wrapper" style="width:75%; float:left">
              <input type="text" style="width:100%; direction:rtl;" placeholder="כתיבת הודעה..." ng-model="chatFields.chatbox" ng-keypress="enterPress($event)">
            </label>
            <!-- <button type="submit" class="button button-small" > -->
              <img src="img/chat_arrow.png" style="width:7%; margin-left:10px; margin-top:1px;" ng-click="sendChat()" /> 
           <!-- </button>-->
        </div>
    </div>
</div>



	<ion-content style="margin-top:30px;" overflow-scroll="false">

<form name="chatForm" class="chatForm" ng-submit="" role="chatForm" novalidate>

	<!-- 7dc7ee ng-disabled="chatForm.$invalid " required  3cbeef   3de2fe
	-->

	
		<div  ng-repeat="messages in chatArray" class="mainChat"  ng-if="messages.text != ''">
        	<div align="center" ng-class = "messages.userid == user_local_storage ? 'chatImg' : 'chatImg1'">
				<img src="{{messages|checkImgUrl:true}}" >
				<!--
				<p>userid : {{messages.userid}}</p>
				<p>local : {{user_local_storage}}</p>-->
            </div>
            <div  ng-class = "messages.userid == user_local_storage ? 'chatText' : 'chatText1'">
                <!--<h2>{{messages.username}}</h2>-->
                <div style="margin-top:-8px;">
                    <img ng-if = "messages.userid == user_local_storage" src="img/chat/left_arrow.png" style="width:5%; margin-left:3px; position:absolute; margin-top:13px; float:left; height:32px;" />
                    
                    <div ng-class = "messages.userid == user_local_storage ? 'chatBubble1' : 'chatBubble2'" style="text-align:right;">
                        {{messages.text}}
                        <p class="timeChat">{{messages.time}}
                            <img src="img/chat/eye.png" style="width:20px; height:10px;" />
                        </p>
                    </div>
                   <img ng-if = "messages.userid != user_local_storage" src="img/chat/right_arrow.png" style="width:5%; margin-left:-6px; position:absolute; margin-top:13px; float:right; height:32px;" />
                </div>
            </div>
        </div>
        
    
	
		

	</form>
 
  
	</ion-content>
	
	
	
</ion-view>



