<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">


  
  
  <ion-content class="BackgroundImage1">
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:95%;">
        	<img src="img/deals/90.png" style="width:50%; margin-top:3px;" />
            <img src="img/suppliers/search.jpg" style="width:100%; margin-top:20px;" ng-click="dealSearch()" />
            <!-- <div ng-repeat="item in Suppliers">   -->
            <div ng-repeat="deal in DealsSearchArray" my-repeat-directive>
 					<div ng-click="navigateDeal(deal.index,deal.old_price,deal.price)">
                        <div class="dealDiv">
                            <img ng-src="{{host}}/{{deal.image}}" style="width:100%; position:relative; top:0; left:0; z-index:0;"  />
                            <div id="percent">
                                <div id="percentImg">
								<!--
								{{checkPercent(deal)}}
								-->
                                    <p id="percentText">&nbsp;{{deal.discount_precent}}% <br>הנחה</p>
                                    <img src="img/deals/percent.png" />
                                </div>
                            </div>
                            <div id="overlayImage">
                                <div id="overImg"></div>
                                <div id="overlayRight">
                                    <p id="dealInfo1">{{getSupplierByIndex(deal.supplier_index) | stripslashes:true}}</p>
                                    <p id="dealInfo2">{{deal.title | stripslashes:true}} </p>
                                    <div id="dealInfo3" style="font-size:18px;">
                                         <span id="newPrice">{{deal.old_price}}</span> <span id="oldPrice">{{deal.price}} &#8362;</span>
                                    </div>
                                </div>
                                <div id="overlayLeft" style="">
                                    <img src="img/deals/date.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
                                    <div id="dateText">
                                        <p id="dateText1">{{cutDate(deal.deal_date)}}</p>
                                        <p id="dateText2">{{cutYear(deal.deal_date)}}</p>
                                    </div>
                                <div>
                            </div>
                        </div>
                     
					 </div>
             </div>
            <!-- </div>-->
         </div>
    </div>
  </ion-content>
</ion-view>
