<ion-modal-view >
    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeModal()' >
	      <button class="button button-clear" ng-click="closeModal()">סגירה</button>
	<!--
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
	-->
    </div>
  <h1 class="title"><img src="img/logo.png"  class="title-image" style=""></h1>
  
</ion-header-bar>


  <ion-content >
  <!--
    <form ng-submit="doLogin()">
  -->
	 <div style="width:100%; margin-top:30px;" align="center">
            	<img src="img/iconlogo.png" style="width:25%" /><br />
                <img src="img/logoPink.png" style="width:35%" />
     </div>
     
        <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
                    <div>
            	
               
                    <label class="item item-input item-select itemSelected" style="margin-top:5px;">
                    			<div class="input-label">
                              		סוג אירוע
                            	</div>	
                                <select class="ion-input-select--large itemSelectedBox"  ng-model="search.catagory">
                                    <option value="4">אולם וגן אירועים</option>
                                    <option value="3">צלם</option>
                                    <option value="1">מוסיקה</option>
                                </select>   
                    </label>                
               
                	<label class="item item-input item-select itemSelected" style="margin-top:5px;">
                            <div class="input-label">
                              		אזור
                            </div>	
                            <select class="ion-input-select--large itemSelectedBox" ng-model="search.area">
								<option value="1">אזור חיפה והצפון</option>
								<option value="2">באר שבע והדרום</option>
								<option value="3">שפלה</option>
								<option value="4">שרון</option>
								<option value="5">תל אביב וגוש דן</option>
								<option value="6">ירושלים והסביבה</option>	
								<option value="">הכל</option>
								
                            </select>	
                     </label>	     
             
                    <label class="item item-input item-select itemSelected" style="margin-top:5px;">
                                <div class="input-label">
                                        עונה
                                </div>	
                                <select class="ion-input-select--large itemSelectedBox" ng-model="search.season">
								    <option value="1">חורף 2015</option>
                                    <option value="2">אביב 2016</option>
                                    <option value="3">קיץ 2016</option>
                                    <option value="4">סתיו 2016</option>
                                    <option value="">הכל</option>
									
                                </select>
                     </label>	     
  
                  <label ng-if="search.catagory == 4" style="margin-top:5px;">
                    <input type="tel" placeholder="כמות מוזמנים" class="AgentBox" style="margin-top:5px;" ng-model="search.guests">
                  </label>


             
               <div align="center" style="margin-top:10px;" ng-click="FilterSearchDeal()">        	
							<img src="img/filter.jpg" style="width:100%; " />
					</div>          			
              
              

            </div>
         </div>
    </div> 
  
  
	<!--
    </form>
	-->
  </ion-content>
  
</ion-modal-view>
