<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <div class="bar bar-footer bar-balanced" id="infoFooter" style="width:100%; height:90px !important; " align="center">
	<div style="width:100%;" align="center">
    <div style="width:390px; " align="center">
      
        <div id="infoFooter_right" ng-click="sendInfo()">
        	<img src="img/get_deal.png" style="width:100%; padding-bottom:30px" />
        </div>
        
          <div id="infoFooter_right" ng-click="PhoneDeal()">
        	<img src="img/main/f2.jpg" style="width:100%; padding-bottom:30px;" />
        </div>
		

		<div id="infoFooter_right" ng-click="openChat()">
        	<img src="img/main/f3.jpg" style="width:100%; padding-bottom:30px" />
        </div>
	</div>
	</div>
  </div>
  <ion-content>
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<p id="infoHeader">{{getCategory()}}&nbsp;>&nbsp;<span>{{Supplier.name | stripslashes:true}}</span></p>
        	<img id="infoImg" ng-src="{{host}}/{{Deal.image2}}" style="width:100%; margin-top:3px;" />
            <div class="rowDiv">
                        <div class="LeftRowDiv">
                           <!-- <img src="img/suppliers/estar.png" style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p> -->
                            <img src="img/deals/date1.png" style="height:70px; margin-top:5px; float:left; margin-left:20px;" />
                            <div id="dateText" ng-click="AddFavorite()">
                            	<p id="dateText1" style="color:#00c9c7">{{cutDate(Deal.deal_date)}}</p>
                                <p id="dateText3" style="color:#00c9c7; position:relative; left:-10px;">{{cutYear(Deal.deal_date)}}</p>
                            </div>
                        </div>
						<div class="RightRowDiv" style="width:20%;">
							<img id="infoImg" src="{{host}}/{{Supplier.image}}" style="width:100%; margin-top:8px;" />
							
						</div>
                        <div class="CenterRowDiv" style="width: 50% !important;">
                                <p id="rowName">{{Deal.title | stripslashes:true}}</p>
                                <p id="rowTitle" ui-sref="app.info({ArticleId: Supplier.index})">{{Supplier.name | stripslashes:true}}</p>
                        </div>	
            </div>
            <div style="text-align:right; margin-top:10px;">
            	 <div id="dealInfo3" style="margin-right:0px; padding-top:5px;">
                         <span id="newPrice" style="color:#d6a82a; font-size:17px;">{{dealOldPrice}} ש"ח</span> <span id="oldPrice1" style="font-size:17px;">{{dealNewPrice}} ש"ח</span>
                 </div>
				 <p id="rowTitle" style="font-size:17px; margin-top:5px;">כמות אורחים : {{dealGuests}}</p>
                 <div class="lineDeals"></div>
			     <p id="rowTitle" style="margin-top:10px;" ng-if="Deal.dealparams !=''"> {{Deal.dealparams}}</p>
            </div>
            <div ng-bind-html="Deal.desc | stripslashes" id="InfoAboutText" style="color:#444444 !important" ng-if="hidedetails == 0">
                                
            </div>
            
            <p id="SupplierName" ng-if="hidedetails == 0">קצת על הספק : </p>
			<p id="rowTitle" style="text-align:right;">{{Supplier.supplierparams}}</p>

            <div ng-bind-html="Supplier.desc | stripslashes" id="supplierInfo" style="color:#444444 !important" ng-if="hidedetails == 0">
                    
            </div>
			
			<div ng-if="hidedetails == 1" style="background:white; padding-bottom:100px;">
					<img src="img/estimate.png" style="width:60%; margin-top:0px;" />
					<div>
					  <label >
						<input type="text" placeholder="שם מלא" class="loginInputPink" style="margin-top:5px; color:white;" ng-model="details.name">
					  </label>
					  <label>
						<input type="text" placeholder="טלפון" class="loginInputPink" ng-model="details.phone" style="margin-top:10px;">
					  </label>
					  <!--
					  <label >
						<input type="text" placeholder="מייל" class="loginInputPink" style="margin-top:10px;" ng-model="details.email">
					  </label>
					  <label >
						<textarea rows="4" cols="50" placeholder="תוכן הפנייה..." class="loginInputPink" ng-model="details.text" style="direction:rtl;  margin-top:5px; height:100px !important;"></textarea>
					  </label>
					-->
					</div>
					<div class = "estimate_buttons">
                    	<div class = "estimateRight">
							<img src="img/cancel.jpg" style="width:100%; float:right" ng-click="closeDiv()"/>
                        </div>
                        <div class = "estimateLeft">
                        	<img src="img/get_estimate.jpg" style="width:100%; float:right" ng-click="sendForm()"/>
                        </div>
					</div>
					

			</div>

			
         </div>
    </div>
  </ion-content>
</ion-view>
