<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar" style="height:70px !important;">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right" style="background-color:blue !important">
       <button class="button button-icon button-clear ion-navicon" 
            menu-toggle="left">
       </button>
      </ion-nav-buttons>
    </ion-nav-bar>
   

	
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  
  
  <ion-side-menu side="left" class="main-menu" >
      <ion-header-bar class="bar-stable" style="width:100%;">
      <h1 class="title" >תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<!--
        <ion-item class="heading-item item item-avatar " nav-clear menu-close ui-sref="app.main">
           <h2 class="greeting">WEDX</h2>
          <p class="message">ברוכים הבאים</p>
          <div class="user-image-container ">
            <pre-img ratio="_1_1" helper-class="rounded-image">
             <img class="user-image" ng-src="img/logo.png" spinner-on-load> 
          	</pre-img>
          </div>
         
        </ion-item>
	-->
        <ion-item menu-close ui-sref="app.main" style="border-top:none !important;">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">ראשי</span> <img src="img/menu_icons/home.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close ui-sref="app.deals">
          <div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">דקה 90</span> <img src="img/menu_icons/i2.png" style="width:15%; left:10px;  " />
            </div>
        </ion-item>
        <ion-item menu-close  ui-sref="app.blog">
        	<div style="left:30px; position:relative">
         		 <span style="top:-5px; margin-right:7px; position:relative">בלוג</span> <img src="img/menu_icons/i3.png" style="width:15%; left:10px;  " />
                 </div>
        </ion-item>		
        <ion-item menu-close ui-sref="app.Categories">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">ספקים</span> <img src="img/menu_icons/i4.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>			
        <ion-item menu-close ui-sref="app.contact">
        	<div style="left:30px; position:relative">
          		<span style="top:-5px; margin-right:7px; position:relative">צור קשר</span> <img src="img/menu_icons/i5.png" style="width:15%; left:10px;  " />
                </div>
        </ion-item>
        <ion-item menu-close ui-sref="app.favorites">
        	<div style="left:30px; position:relative">
         	 <span style="top:-5px; margin-right:7px; position:relative">מועדפים</span> <img src="img/menu_icons/i6.png" style="width:15%; left:10px;  " />
             </div>
        </ion-item>
        <ion-item menu-close ui-sref="#" ng-click="LogOut()">
        	<div style="left:30px; position:relative">
         	 <span style="top:-5px; margin-right:7px; position:relative">התנתקות</span> <img src="img/menu_icons/i6.png" style="width:15%; left:10px;  " />
             </div>
        </ion-item>		
		
         <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;"></h2>
        </ion-item>	
		
		<!--
		  <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.main">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/1.png" ></i>
          
          <h2 class="menu-text" style="text-align:right">ראשי</h2>
        </ion-item>
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.deals">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/2.png" ></i>
          <h2 class="menu-text" style="text-align:right">דקה 90</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.blog">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/3.png" ></i>
          <h2 class="menu-text" style="text-align:right">בלוג</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.Categories">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/4.png" ></i>
          <h2 class="menu-text" style="text-align:right">ספקים</h2>
        </ion-item>
		
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.contact">
		  <i class="icon"><img style="width:40px; height:40px;" src="img/sidemenu/new/8.png" ></i>
          <h2 class="menu-text" style="text-align:right">צור קשר</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.favorites">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/6.png" ></i>
          <h2 class="menu-text" style="text-align:right">מועדפים</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="#" ng-click="LogOut()">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/new/9.png" ></i>
          <h2 class="menu-text" style="text-align:right">התנתקות</h2>
        </ion-item>	
		
         <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px;"></h2>
        </ion-item>			
	-->
    </ion-list>
    </ion-content>
  </ion-side-menu>
  
  
  
   <ion-side-menu side="right" class="main-menu"  ng-controller="MessagesCtrl">
     <ion-header-bar class="bar-stable" >
      <h1 class="title" style="text-direction:right; text-align:center; color:white">Messages</h1>  
    </ion-header-bar>
	
    <ion-content style="background-color:white">
	<div class="list" style="width:100% !important;">
     
       <div  ng-repeat="messages in messagesArray | filter:searchMessages" ng-click="goToChat(messages)">
       	    <div class="likeRepeat">
            	<div class="imgLike">
                	<img src="{{imagePath}}/{{messages.image}}"  ng-click="ShowImageModal(messages.image,1)">
                    <p>{{messages.username}}</p>
               	</div>
                <div class="textLike">
                    <h2 class="likepageFont" style="font-size:12px;">you've got a message!:)</h2>
                    <!-- <p>{{messages.text}}</p>
                    <p>unread messages: {{messages.message_count}}</p> -->
           		</div>
                <div class="iconsLike">
                	<img ng-src="img/icons/blue_mail.png" style="width:26px; height:22px; margin-top:10px;  margin-left:10px;" >
                </div>
            </div>
            <div style="width:100%" align="center">
                     <div class="likeLine" ></div>
            </div>

		 </div>

      </div>


  </ion-side-menu>

  
  
  
</ion-side-menus>
	
  </ion-content>
  
  
  	 
	<script id="image-modal.html" type="text/ng-template">
		  <div class="modal image-modal transparent" ng-click="closeModal()">
			  <ion-pane class="transparent">
				 <img ng-src="{{imagePath}}/{{imageSrc}}" class="fullscreen-image"/>
			  </ion-pane>
		  </div>
	</script> 
	  
	  
