<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <ion-content>
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<p id="infoHeader">בלוג&nbsp;>&nbsp; {{BlogPost.title}}<span>{{Name}}</span></p>
        	<img id="infoImg" src="{{ImgHost}}/{{BlogPost.image}}" style="width:100%; margin-top:3px;" />
            <div id="articleTitle">
            	{{ArticleTitle}}
            </div>
            <p id="blogFrom" style="text-align:right;">מאת : {{BlogPost.author}}</p>
			<p id="blogFrom" style="text-align:right;">תאריך : {{BlogPost.date}}</p>
            <div ng-bind-html="BlogPost.text" id="InfoAboutText" style="color:#00c9c7 !important; direction:rtl;"></div>
         </div>
    </div>
  </ion-content>
</ion-view>
