<ion-modal-view >

    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeModal()' >
	      <button class="button button-clear" ng-click="closeModal()">סגירה</button>
	<!--
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
	-->
    </div>
  <h1 class="title"><img src="img/logo.png"  class="title-image" style=""></h1>
  
</ion-header-bar>


  <ion-content class="BackgroundImage">
  <!--
    <form ng-submit="doLogin()">
  -->

     <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:55%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/connect.png" style="width:50%; margin-top:20px;" />
                <div>
                    <input type="email" placeholder="כתובת מיייל" class="loginInput" style="margin-top:5px; color:white;" ng-model="forgot.email">
                  </label>
                </div>
                <div align="center" ng-click="sendPasswordBtn()">        	
                    	<img src="img/new.png" style="width:48%; " />
            	</div>

            </div>
         </div>
    </div> 
  
  
	<!--
    </form>
	-->
  </ion-content>
</ion-modal-view>
