<ion-view title="{{navTitle}}" hide-nav-bar="false" hide-back-button="false">
  <div class="bar bar-footer bar-balanced" id="infoFooter" style="height:90px !important;">
		<div id="infoFooter_right" ng-click="sendInfo()" >
        	<img src="img/get_deal.png" style="width:100%; padding-bottom:30px" />
        </div>
        
          <div id="infoFooter_right" ng-click="PhoneSapak()">
        	<img src="img/main/f2.jpg" style="width:100%; padding-bottom:30px;" />
        </div>
		

		<div id="infoFooter_left" ng-click="openChat()" >
        	<img src="img/main/f3.jpg" style="width:100%; padding-bottom:30px" />
        </div>

  </div>
  <ion-content>
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv" style="width:90%;">
        	<p id="infoHeader">{{CatagoryName | stripslashes:true}} &nbsp;>&nbsp;<span>{{Name | stripslashes:true}}</span></p>
        	<img id="infoImg" src="{{host}}/{{SupplierImage}}" style="width:100%; margin-top:3px;" />
            <div class="rowDiv">
                        <div class="LeftRowDiv">
                            <img src="img/suppliers/estar.png" style="width:100%;" />
                            <p id="favText">מועדפים</p>
                        </div>
						<div class="RightRowDiv" style="width:30%;">
							<img id="infoImg" src="{{host}}/{{SupplierImage2}}" style="width:100%; margin-top:8px;" />
							
						</div>
                        <div class="CenterRowDiv" style="width: 42% !important;">
                                <p id="rowName">{{Name | stripslashes:true}}</p>
                                <p id="rowTitle">{{Adress | stripslashes:true}}</p>
                                <p id="rowAdress">{{CatagoryName | stripslashes:true}}</p>
								
                        </div>	

            </div>
			<div>
				<p id="rowTitle" style="text-align:right !important; margin-top:20px;" ng-if="SupplierParams !=''">פרמטרים נוספים : {{SupplierParams}}</p>
			</div>
            <div  ng-bind-html="About | stripslashes:true" id="InfoAboutText" style="color:#00c9c7 !important; padding-bottom:180px !important;" ng-if="hidedetails == 0" >
                                
            </div>
			
			<div ng-if="hidedetails == 1" style="background:white; padding-bottom:100px;">
					<img src="img/estimate.png" style="width:60%; margin-top:0px;" />
					<div>
					  <label >
						<input type="text" placeholder="שם מלא" class="loginInputPink" style="margin-top:5px; color:white;" ng-model="details.name">
					  </label>
					  <label>
						<input type="text" placeholder="טלפון" class="loginInputPink" ng-model="details.phone" style="margin-top:10px;">
					  </label>
					  <!--
					  <label >
						<input type="text" placeholder="מייל" class="loginInputPink" style="margin-top:10px;" ng-model="details.email">
					  </label>
					  <label >
						<textarea rows="4" cols="50" placeholder="תוכן הפנייה..." class="loginInputPink" ng-model="details.text" style="direction:rtl;  margin-top:5px; height:100px !important;"></textarea>
					  </label>
					-->
					</div>
					<div class = "estimate_buttons">
                    	<div class = "estimateRight">
							<img src="img/cancel.jpg" style="width:100%; float:right" ng-click="closeDiv()"/>
                        </div>
                        <div class = "estimateLeft">
                        	<img src="img/get_estimate.jpg" style="width:100%; float:right" ng-click="sendForm()"/>
                        </div>
					</div>
					

			</div>
			
			
			
         </div>
    </div>
  </ion-content>
</ion-view>
