<ion-view view-title="" hide-nav-bar="false" hide-back-button="false">
  <ion-content class="BackgroundImage">
   <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> 
    </ion-list>-->
    <div class="MainDiv" align="center">
    	<div class="Inside_MainDiv">
            <!-- Header -->
            <div>
                <img src="img/logo.png" style="width:55%" />
            </div>
            <!-- Input Text -->
            <div class="loginForm">
            	<img src="img/reg.png" style="width:40%; margin-top:20px;" />
                <div>
                  <label >
                    <input type="text" placeholder="שם מלא" class="loginInput" style="margin-top:5px; color:white;" ng-model="register.name">
                  </label>
                  <label>
                    <input type="text" placeholder='כתובת דוא"ל' class="loginInput" ng-model="register.email" style="margin-top:10px;">
                  </label>
                  <label >
                    <input type="text" placeholder="סיסמא" class="loginInput" style="margin-top:10px;" ng-model="register.password">
                  </label>
                </div>
                <div>
                	<a href="#/app/login">
                    	<img src="img/back.png" style="width:48%; float:left" />
                    </a>
                    <img src="img/enter.png" style="width:48%; float:right" ng-click="RegisterBtn()"/>
            	</div>
                <img src="img/or.png" style="width:7%; margin-top:8px" />
                <img src="img/face.png" style="width:97%; margin-top:8px" />
                <img src="img/takanon.png" style="width:14%; margin-top:18px" />
            </div>
         </div>
    </div>
  </ion-content>
</ion-view>
