<ion-modal-view >

    <ion-header-bar align-title="center" class="bar-dark"  no-tap-scroll=true >
	<div ng-click='closeSearch()' >
	      <button class="button button-clear" ng-click="closeSearch()">סגירה</button>
	<!--
 		<img src="img/main/back.png" style="width:50px; height:50px; margin-top:-8px; margin-left:-7px;">
	-->
    </div>
  <h1 class="title"><img src="img/logo.png"  class="title-image" style=""></h1>
  
</ion-header-bar>


  <ion-content >
  <!--
    <form ng-submit="doLogin()">
  -->
		<div style="width:100%; margin-top:30px;" align="center">
            	<img src="img/iconlogo.png" style="width:35%" /><br />
                <img src="img/logoPink.png" style="width:45%" />
        </div>
        <div class="searchInput" align="center">
      		 <div class="searchInputDiv">
                    <div>
                         <label class="item item-input item-select itemSelected" style="margin-top:8px;">
                            <div class="input-label">
                              אזור
                            </div>	
                            <select class="ion-input-select--large itemSelectedBox" ng-model="search.area">
								<option value="0">כל האזורים</option>
								<option value="1">אזור חיפה והצפון</option>
								<option value="2">באר שבע והדרום</option>
								<option value="3">שפלה</option>
								<option value="4">שרון</option>
								<option value="5">תל אביב וגוש דן</option>
								<option value="6">ירושלים והסביבה</option>	
                            </select>	
                         </label>	
					  <label  style="margin-top:5px;" ng-if="ItemId == '2'">
						<input type="tel" placeholder="כמות מוזמנים" class="AgentBox" style="margin-top:5px;" ng-model="search.guests">
					  </label>
						<!--
						 <label class="item item-input item-select itemSelected" style="margin-top:8px;" ng-if="ItemId == '2'">
                            <div class="input-label">
                              כמות מוזמנים
                            </div>	
                            <select class="ion-input-select--large itemSelectedBox" ng-model="search.guests">
								<option value="200">100-200</option>
								<option value="300">200-300</option>
								<option value="400">300-400</option>
								<option value="500">400-500</option>
								<option value="600">500-600</option>	
                            </select>	
                         </label>	
						-->
						<!--<label class="item item-input itemSelected" style="margin-top:8px;">
						   <input type="email" placeholder="כמות מוזמנים" class="loginInput" style="margin-top:5px; color:white;" ng-model="search.guests">
						</label>-->
										 
											 
                    </div>
					<div align="center" style="margin-top:10px;" ng-click="searchBtn()">        	
							<img src="img/filter.jpg" style="width:100%; " />
					</div>
             </div>
      </div>
	  
	 <!--
            <div ng-repeat="item in SuppliersSearch">
                <div class="rowDiv">
                        <div class="LeftRowDiv">
                            <img ng-src="{{starImg}}" ng-click="addFavorite($index,item.index)" style="width:100%;" />
                            <p id="favText">הוסף למומלצים</p>
                        </div>
                            <div class="RightRowDiv" ng-click="navigateSearch(item.index)">
                                <img src="{{host}}/{{item.image}}" style="width:100%;" />
                            </div>
                            <div class="CenterRowDiv" ng-click="navigateSearch(item.index)"> 
								<p id="rowName">{{item.name | stripslashes:true}}</p>
								<p id="rowName">{{item.address | stripslashes:true}}</p>
                                <p id="rowAdress">{{Catagoryname}}</p>
                            </div>
                </div>
             </div>
	-->
  
	<!--
    </form>
	-->
  </ion-content>
</ion-modal-view>
